Flask
Jinja2
gunicorn
MarkupSafe
Werkzeug
Cython
nltk
pandas
requests
scipy
spacy
numpy
pickleshare
chardet
scikit-learn==1.5.0
notebook
seaborn
spacy
xgboost
imblearn
plotly
tensorflow 
ipykernel
textblob
wordcloud
squarify
matplotlib
pyspellchecker
imbalanced-learn
numba
lightgbm
bliss
waitress
